/* Common */
@import "colors";
@import "mixins";

/* General */
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	@import url(//fonts.googleapis.com/earlyaccess/opensanshebrew.css);
	direction: rtl;
	font-family: 'Open sans Hebrew', sans-serif;
}

.container-fluid {
	width: 100%;
}

.screen-reader-text,
.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.container-fluid {
	padding: 0;
}

.list-unstyled {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}

/* Vendor */
@import "vendor/normalize";
@import "vendor/slick";
@import "vendor/slick-theme";

/* Partials */

/* Pages */
@import "pages/homepage";


