body {

}

.site-header {
	.top-title {
		background-color: #094fa4;
		display: block;
		width: 100%;
		color: #fff;
		text-align: center;
	}

	.main-menu {
		position: relative;

		@include tablet {
			flex-wrap: nowrap;
			padding: 10px 20px;
		}

		@include desktop {
			padding: 10px 40px;
		}

		.logo-wrapper {
			width: 100%;
			display: flex;
			justify-content: center;
			margin-top: -20px;
			margin-bottom: -40px;

			@include tablet {
				width: 12%;
			}

			@include desktop {
				width: 15%;
			}

			img {
				max-width: 100%;
				width: auto;
				height: auto;
				display: block;
			}
		}

		.navbar-toggler {
			@include tablet {
				display: none;
			}
		}

		.navbar-collapse {
			@include tablet {
				display: flex!important;
				flex-basis: auto;
				width: 70%;
			}

			.menu-links {
				width: 100%;
				padding: 0;
				justify-content: center;
				text-align: right;

				@include tablet {
					flex-direction: row;
				}

				li {
					a {
						position: relative;
						color: #000;
						transition: all ease .3s;

						@include tablet {
							padding-right: 0.2em;
							padding-left: 0.2em;
						}

						@include desktop {
							padding-right: 0.8em;
							padding-left: 0.8em;
						}
					}

					&:hover,
					&:focus {
						font-weight: 500;
					}

					& + li {
						@include tablet {
							a::before {
								content: '|';
								position: absolute;
								color: #7D7D7D;
								top: 0;
								bottom: 0;
								display: flex;
								align-items: center;
								font-size: 25px;
								right: -3px;
								font-weight: 300;

							}
						}
					}
				}

				.dropdown-menu {
					border: none;
					background-color: transparent;
					text-align: right;

					a {
						transition: all ease .3s;
						font-weight: 300;

						&:hover,
						&:focus {
							font-weight: 500;
						}

						&::before {
							content: none;
						}
					}
				}
			}
		}

		.social-links {
			justify-content: flex-end;
			flex-direction: row;
			display: flex!important;
			flex-basis: auto;
			padding: 0;

			@include tablet {
				width: 15%;
			}

			li {
				border-radius: 50%;
				transition: all ease .3s;
				width: 35px;
				height: 35px;
				display: flex;
				align-items: center;
				justify-content: center;

				& + li {
					margin-right: 10px;
				}

				i {
					color: #fff;
				}
			}

			.instagram {
				background-color: #7D7D7D;

				&:hover,
				&:focus {
					background-color: #c1c1c1;
				}
			}

			.youtube {
				background-color: #df2b24;

				&:hover,
				&:focus {
					background-color: #ff1600;
				}

			}

			.facebook {
				background-color: #024eab;

				&:hover,
				&:focus {
					background-color: #024EDE;
				}
			}
		}
	}

	.slider-carousel {
		width: 100%;

		.banners {
			display: inline-block;

			img {

			}
		}
	}

}

.main-content {

	.lorem-ipsum {
		padding: 80px 0;
		position: relative;
		overflow: hidden;

		&::after {
			position: absolute;
			content: ' ';
			width: 100%;
			height: 100%;
			background: transparent url( '../images/half_cart.png' ) no-repeat left;
			left: 0;
			top: 10%;
			z-index: -1;
			background-size: 150px;
		}

		h2 {
			text-align: center;
			position: relative;
			display: inline-block;
			margin: 50px 0;

			&::before,
			&::after {
				position: absolute;
				content: ' ';
				top: 50%;
				width: 60px;
				height: 1px;
				background-color: #000;
			}

			&::before {
				right: -80px;
			}

			&::after {
				left: -80px;
			}

		}

		.container {
			position: relative;

			&::before {
				position: absolute;
				content: ' ';
				width: 100%;
				height: 100%;
				top: 25%;
				background: transparent url( '../images/cinamon.png' ) no-repeat right;
				right: -100px;
				background-size: 200px;
			}
		}

			.grid-item {
				padding: 10px;
				position: relative;
			}

				.grid-container {
					display: block;

					@include tablet {
						display: grid;
						grid-gap: 30px;
					}
				}

				.grid-item {
					margin: 0;
					position: relative;
					padding: 0;

					.description-large, .description-short {
						background-color: #094fa3;

						.description-wrapper {
							@include tablet {
								text-align: right;
							}

							p {
								margin: 0;
								font-weight: 300;
								font-size: 16px;
								display: block;

								@include desktop {
									font-size: 18px;
								}
							}

							span {
								font-weight: 500;
								font-size: 14px;

								@include desktop {
									font-size: 16px;
								}
							}
						}
					}

					& + .grid-item {
						margin-top: 50px;

						@include tablet {
							margin-top: 0;
						}
					}
				}

				.grid-item.large {
					a {
						display: flex;
						flex-direction: column;

						&:hover,
						&:focus {
							.description-large {
								.arrow {
									color: #000;
								}
							}
						}

						img {
							width: 100%;
							height: 100%;
						}

						.description-large {
							color: #fff;

							@include tablet {
								position: absolute;
								bottom: 0;
								right: 0;
								left: 0;
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 10px 30px;
							}

							.arrow {
								font-size: 25px;
								transition: all ease .3s;

								@include desktop {
									font-size: 30px;
								}
							}
						}
					}
				}

				.grid-item.short {
					a {
						display: flex;
						flex-direction: column;

						@include tablet {
							flex-direction: row-reverse;
							text-decoration: none;
						}

						&:hover,
						&:focus {
							.description-short {
								.arrow {
									color: #000;
								}
							}
						}

						img {
							height: 100%;
							width: 100%;

							@include tablet {
								width: 80%;
							}

							@include desktop {
								width: 70%;
							}
						}

						.description-short {
							width: 100%;

							@include tablet {
								width: 20%;
							}

							@include desktop {
								width: 30%;
							}

							.description-wrapper {
								padding: 5px;
								color: #fff;

								@include desktop {
									padding: 30px;
								}

								img {
									width: 40px;

									@include desktop {
										width: 50px;
									}
								}

								hr {
									width: 50px;
									background-color: #fff;

									@include tablet {
										margin: 5px 0 5px 60px;
									}


									@include desktop {
										margin: 15px 0 15px 60px;
									}
								}

							}

							.arrow {
								font-size: 25px;
								display: block;
								color: #fff;

								@include tablet {
									text-align: left;
									margin-left: 30px;
									transition: all ease .3s;
								}

								@include desktop {
									font-size: 30px;
								}
							}
						}
					}
				}

				.grid-item.large1 {
					grid-column: 1 ;
					grid-row: 1 / span 3;
				}

				.grid-item.large2 {
					grid-column: 2;
					grid-row: 2 / span 3;
				}

				.grid-item.short1 {
					grid-column: 1;
					grid-row: 4 / span 1;
				}

				.grid-item.short2 {
					grid-column: 2;
					grid-row: 1 / span 1;
				}


	}



}

.site-footer {
	.details-wrapper {
		position: relative;
		background: transparent url( '../images/wood.png' ) no-repeat center;
		background-size: cover;
		z-index: 7;
		padding: 40px 0;

		&::before {
			content: ' ';
			background-color: #000;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			opacity: 0.7;
			z-index: -1;
		}

		.user-options {
			display: flex;
			justify-content: center;
			text-align: right;
			color: #fff;
			z-index: 444;
			flex-wrap: wrap;

			@include tablet {
				justify-content: right;
			}

			li {
				text-align: center;
				width: 100%;

				@include tablet {
					text-align: right;
					width: 40%;
				}

				& + li {
					margin-top: 20px;

					@include tablet {
						margin-top: 0;
					}
				}

				h3 {
					font-size: 20px;
				}

				p {
					font-size: 16px;
				}

				button {
					font-size: 20px;
					color: #024eab;
					border-radius: 10px;
					background-color: #fff;
					transition: all ease .3s;
					border: none;

					@include tablet {
						padding: 5px 30px;
					}

					&:hover,
					&:focus {
						background-color: #024eab;
						color: #fff;
					}
				}

				form {
					.form-group {
						position: relative;
						width: 100%;
						margin: 0 auto;

						@include tablet {
							width: 80%;
							margin: 0;
						}
					}

					input {
						border-radius: 30px;
					}

					button {
						position: absolute;
						color: #fff;
						background-color: #024eab;
						border: none;
						left: 5px;
						bottom: 5px;
						font-size: 18px;
						border-radius: 40px;
						padding: 0 15px;

						&:hover,
						&:focus {
							background-color: #fff;
							color: #024eab;
						}
					}
				}
			}
		}
	}

	.footer-nav-wrapper {
		.footer-links {
			padding: 10px 0;
			display: flex;
			justify-content: space-between;

			.links {
				display: flex;
				justify-content: space-between;
				width: 70%;

				li {
					transition: all ease .3s;
					position: relative;

					a {
						color: #024eab;
						text-decoration: none;
						position: relative;
						font-weight: 500;

						&:hover::before,
						&:focus::before {
							content: ' ';
							width: 100%;
							bottom: 0;
							position: absolute;
							height: 1px;
							background-color: #024eab;
							right: 0;
						}
					}
				}
			}

			.footer-social-links {
				width: 10%;
				display: flex;
				justify-content: space-between;
				flex-direction: row;
				padding: 0;

				li {
					border-radius: 50%;
					transition: all ease .3s;
					width: 35px;
					height: 35px;
					display: flex;
					align-items: center;
					justify-content: center;


					a {
						display: inline-block;
						color: unset;

						i {
							color: #fff;
						}
					}
				}

				.instagram {
					background-color: #7D7D7D;

					&:hover,
					&:focus {
						background-color: #c1c1c1;
					}
				}

				.youtube {
					background-color: #df2b24;

					&:hover,
					&:focus {
						background-color: #ff1600;
					}

				}

				.facebook {
					background-color: #024eab;

					&:hover,
					&:focus {
						background-color: #024EDE;
					}
				}

			}
		}
	}
}




